# Binaries
win32.exe
linux-gtk
macos.app
*.dll
*.so
*.dylib

# Animations
Ponies*

# Code::Blocks service files
*.cscope_file_list
*.layout
*.depend
.obj

# Win32-specific
Thumbs.db
*.def
*.a

# MacOS-specific
.DS_Store
__MACOSX
