[submodule "core/gif/load"]
	path = core/gif/load
	url = https://github.com/hidefromkgb/gif_load
	branch = master
[submodule "core/ogl/load"]
	path = core/ogl/load
	url = https://github.com/hidefromkgb/ogl_load
	branch = master
[submodule "macos/load"]
	path = macos/load
	url = https://github.com/hidefromkgb/mac_load
	branch = master
[submodule "exec/zip"]
	path = exec/zip
	url = https://github.com/hidefromkgb/zip_load
[submodule "exec/ctr"]
	path = exec/ctr
	url = git@github.com:hidefromkgb/std_ctrs.git
