# Binaries
win32.exe
linux-gtk
macos.app
*.dll
*.so
*.dylib

# DP stuff
Content*

# Vim-specific
*.sw?
*~

# CMake-specific
Debug
Release

# Code::Blocks service files
*.cscope_file_list
*.layout
*.depend
.obj

# Win32-specific
Thumbs.db
*.lnk
*.def
*.a

# MacOS-specific
.DS_Store
__MACOSX
