# Binaries
win32.exe
linux-gtk
macos.app/Contents/MacOS/*
!macos.app/Contents/MacOS/*.md
*.dll
*.dylib
*.so

# Animations
Ponies*

# Code::Blocks service files
*.layout
*.depend
.obj

# Win32-specific
Thumbs.db
*.def
*.a

# MacOS-specific
.DS_Store
__MACOSX
