#include <windows.h>
#include "run.h"



LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
ICN_MAIN           ICON           "main.ico"



LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
DLG_MAIN DIALOGEX 0, 0, 132, 84
STYLE DS_CENTER | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
EXSTYLE WS_EX_WINDOWEDGE | WS_EX_TOOLWINDOW | WS_EX_TOPMOST
CAPTION "Settings"
FONT 9, "Verdana", 400, 0, 1
{
    DEFPUSHBUTTON   "&OK", IDOK, 4, 60, 60, 20, BS_FLAT
    PUSHBUTTON      "&Cancel", IDCANCEL, 68, 60, 60, 20, BS_FLAT
    LTEXT           "Sprites per folder:", 0, 4, 4, 60, 12, SS_LEFT | SS_CENTERIMAGE
    EDITTEXT        MED_INST, 68, 4, 60, 12, ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", MSC_INST, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_HORZ | UDS_WRAP | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 0, 0, 0, 0
    AUTOCHECKBOX    "&Show console", MCB_CONS, 4, 20, 60, 12, BS_FLAT
    AUTOCHECKBOX    "Enable Open&GL", MCB_EOGL, 4, 32, 60, 12, BS_FLAT
    AUTOCHECKBOX    "Enable &BGRA", MCB_IBGR, 68, 20, 60, 12, BS_FLAT
    AUTOCHECKBOX    "Enable &PBO", MCB_IPBO, 68, 32, 60, 12, BS_FLAT
    AUTOCHECKBOX    "&Full opacity", MCB_IOPQ, 4, 44, 60, 12, BS_FLAT
    AUTOCHECKBOX    "Use &regions", MCB_IRGN, 68, 44, 60, 12, BS_FLAT
}



LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
1                  RT_MANIFEST    "mfst.xml"
