#include <windows.h>
#include "run.h"



LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
ICN_MAIN           ICON           "main.ico"



LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
1                  RT_MANIFEST    "mfst.xml"
